<div class="divCategorias">
	<h2>Categorias</h2>
	<button style="margin-bottom: 1%;" mat-raised-button color="primary" (click)="abrirCrear()">Crear</button>
<mat-form-field>
	<mat-label>Buscar</mat-label>
	<input matInput (keyup)="filtrar($event)" placeholder="Ex. Lacoste" #input>
  </mat-form-field>
	<div class="mat-elevation-z8">
		<table mat-table matSort [dataSource]="datos">
	<ng-container matColumnDef="id">
	  <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
	  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
	</ng-container>
  
	<ng-container matColumnDef="nombre">
	  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
	  <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
	</ng-container>
  
	<ng-container matColumnDef="descripcion">
	  <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
	  <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
	</ng-container>
  
	<ng-container matColumnDef="editar">
	  <th mat-header-cell *matHeaderCellDef> Editar </th>
	  <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)=abrirEditar(element)>Editar</button> </td>
	</ng-container>
  
	<ng-container matColumnDef="eliminar">
	  <th mat-header-cell *matHeaderCellDef> Eliminar </th>
	  <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" (click)=delete(element)>Eliminar</button> </td>
	</ng-container>
  
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="4">No se ha encontrado datos</td>
	  </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
  
