:host{
	display: block;
	height: calc(100vh - 5rem);
  }
  
  
.divComercio {
	padding: 2% 10%;
  }

  .cardComercio{
	  width: 80%;
	  height: 60%;
	  background-color: #f3f3f3;
  }

  .cardDir{
	  text-align: center;
	  background-color: #f3f3f3;
  }