<div class="divServicio">
  <h2>Servicios</h2>
  <button mat-raised-button color="create" (click)="openDialog()">Crear</button>

  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>  Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
      </ng-container>

      <ng-container matColumnDef="descuento">
        <th mat-header-cell *matHeaderCellDef> Descuento </th>
        <td mat-cell *matCellDef="let element"> {{element.descuento}} </td>
      </ng-container>

      <ng-container matColumnDef="idComercio">
        <th mat-header-cell *matHeaderCellDef> Id Comercio </th>
        <td mat-cell *matCellDef="let element"> {{element.idComercio}} </td>
      </ng-container>

      <ng-container matColumnDef="duracion">
        <th mat-header-cell *matHeaderCellDef> Duración </th>
        <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)=abrirEditar(element)>Editar</button> </td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" (click)=delete(element)>Eliminar</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
