<div class="divEmpleadoComercio">
    <div fxLayout="column" fxLayoutAlign="start center">
        <div class="mb-lg mt-lg">
            <h2 class="text-center">Empleados</h2>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Seleccione una Sucursal</mat-label>
                <mat-select (selectionChange)="selecionSucursal($event.value)">
                    <mat-option *ngFor="let s of sucursales" [value]="s.id">
                        {{s.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>        
    </div>    
    <div class="ml-md" >
        <button mat-raised-button color="success" (click)="openDialog()" [disabled]="!idSucursal" >
            Crear Empleado     
        </button>
    </div>
    
        <app-list-empleados [idSucursal]="idSucursal" [actualizarDatos]="actualizarDatos"></app-list-empleados>
    
</div>


