<div class="landingPage">

	<header class="hero">
	  <div class="textos-hero">
		<h1>Bienvenido a XeonSquad</h1>
		<p>Conozca mas acerca de nuestro nuevo producto</p>
		<a href="./landingApp">Ir a GetItSafely</a>
	  </div>
	  <div class="svg-hero" style="height: 150px; overflow: hidden;">
		<svg viewBox="0 0 500 150" preserveAspectRatio="none"
			 style="height: 100%; width: 100%;">
		  <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
				style="stroke: none; fill: #fafafa;"></path>
		</svg>
	  </div>
	</header>
  
  
	<div class="infoXeon">
	  <img src="../../assets/logoEquipo.png" alt="">
	  <div class="contenedor-textos-main">
		<h2 class="titulo left">Sobre nosotros</h2>
		<p class="parrafo">
		  El nombre del equipo Xeon Squad.
		  Ha sido seleccionado tomando como base los procesadores
		  Xeon de la empresa intel debido a su potencia, eficiencia, valor y
		  calidad dentro de los equipos que la implementan. Como equipo de
		  desarrollo aspira a realizar una ejecución efectiva.
		</p>
	  </div>
	</div>
  
	<div class="info">
	  <div class="contenedor">
		<h2 class="titulo left">Nuestros valores</h2>
		<ol>Cooperación</ol>
		<ol>Responsabilidad</ol>
		<ol>Respeto</ol>
		<ol>Comunicación</ol>
		<ol>Compromiso</ol>
		<ol>Igualdad</ol>
	  </div>
	  <img src="../../assets/valores.png" alt="">
	</div>
  
	<div class="cards contenedor">
	  <h2 class="titulo">Servicios</h2>
	  <div class="content-cards">
		<article class="card">
		  <i class="fa fa-clock-o"></i>
		  <h3>El Tiempo es Oro</h3>
		  <p>
			Siempre realizamos el seguimiento adecuado al cronograma establecido,
			garantizando a nuestros clientes el cumplimiento de los tiempos del proyecto.
		  </p>
		</article>
		<article class="card">
		  <i class="fa fa-laptop"></i>
		  <h3>Diseño</h3>
		  <p>Nos encanta crear un desarrollo que pueda reflejar la calidad desde la primera impresión.</p>
		</article>
		<article class="card">
		  <i class="fa fa-lock"></i>
		  <h3>Seguridad Web</h3>
		  <p>Desarollamos una solucion resguardando lo que mas importa: sus datos.</p>
		</article>
	  </div>
	</div>
  
	<div class="info-last">
  
	  <div class="contenedor last-section">
		<div class="contenedor-textos-main">
		  <h2 class="titulo left">Misión</h2>
		  <p class="parrafo_mv">
			“Ofrecer soluciones de software mediante trabajo realizado con transparencia y
			honestidad, para brindar un excelente servicio. Comprometidos a brindar confianza y mejorar la
			calidad de vida de nuestros clientes”
		  </p>
		  <h2 class="titulo left">Visión</h2>
		  <p class="parrafo_mv">
			“Impulsar el desarrollo de software de alta calidad,
			satisfaciendo las necesidades de nuestros clientes.”
		  </p>
		</div>
		<img src="../../assets/misionVision.png" alt="">
	  </div>
	</div>
  
	<div class="galeria">
	  <div class="contenedor">
		<h2 class="titulo">Nuestro equipo</h2>
		<article class="galeria-cont">
		  <div class="secciones_infoE">
			<div class="info_Equipo">
			  <img src="../../assets/Brandon.jpg" alt="">
			  <p>Coordinación</p>
			</div>
			<div class="info_Equipo">
			  <img src="../../assets/Elizabeth.jpg" alt="">
			  <p>Desarrollo</p>
			</div>
			<div class="info_Equipo">
			  <img src="../../assets/JuanDiego.jpeg" alt="">
			  <p>Calidad</p>
			</div>
		  </div>
		  <div class="secciones_infoE">
			<div class="info_Equipo">
			  <img src="../../assets/Sebastian.png" alt="">
			  <p>Calidad 2</p>
			</div>
			<div class="info_Equipo">
			  <img src="../../assets/Kamil.jpeg" alt="">
			  <p>Soporte</p>
			</div>
			<div class="info_Equipo">
			  <img src="../../assets/Eduardo.jpg" alt="">
			  <p>Soporte 2</p>
			</div>
		  </div>
		</article>
	  </div>
  
  
	  <div class="svg-wave" style="height: 150px; overflow: hidden;">
		<svg viewBox="0 0 500 150" preserveAspectRatio="none"
			 style="height: 100%; width: 100%;">
		  <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
				style="stroke: none; fill: #339989;"></path>
		</svg>
	  </div>
	</div>
  
	<div class="footer">
	  <div class="contenedor">
		<div class="footerCopyRedes">
		  <div class="mainCopyRedes">
			<div class="footerCopy">
			  &copy; 2020, Todos los Derechos Reservados | XeonSquad |
			</div>
			<section class="footerRedes">
			  <a href="https://www.facebook.com/" class="fa fa-facebook-official facebook"></a>
			  <a href="https://twitter.com/" class="fa fa-twitter twitter"></a>
			  <a href="https://www.instagram.com/" class="fa fa-instagram instagram"></a>
			</section>
		  </div>
		</div>
	  </div>
	</div>
  
	<script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
  </div>
  
  