<div class="divComercios">
  <h2>Configuración</h2>
  <div class="mat-elevation-z8">
	<form [formGroup]="configuracion" style="width: 33%; padding: 2%;">
		<mat-form-field appearance="outline">
			<mat-label>Dias Máximos de antelación para cancelar citas</mat-label>
			<input matInput type="number" min="0" id="maxCancelar" formControlName="diasAntelacion">
			<span matPrefix>#&nbsp;</span>
			<span matSuffix>días</span>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Mínima cantidad de contraseñas del historial</mat-label>
			<input type="number" min="0" matInput id="minContrasennas" formControlName="contrasennas">
			<span matPrefix>#&nbsp;</span>
			<span matSuffix>contraseñas</span>
		</mat-form-field>
		<button (click)="update()" color="editar" mat-flat-button>Guardar Cambios</button>
    </form>
  </div>