<div class="page-container" *ngIf="sucursal">

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile colspan="1" rowspan='1'>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon aria-hidden="false" aria-label="Comercio">business</mat-icon>
                    </div>
                    <mat-card-title>{{sucursal.nombre}}</mat-card-title>
                    <mat-card-subtitle>{{sucursal.id}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <strong>Disposiciones de Ingreso: </strong>
                        {{sucursal.disposiciones}}
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan='1'>
            <mat-card *ngIf="direccion" class="cardDir">


                <mat-form-field appearance="fill">
                    <mat-label>Provincia</mat-label>
                    <mat-select disabled [(ngModel)]="direccion.provincia" (selectionChange)="getCantonesE($event)">
                        <mat-option *ngFor="let provincia of provincias" [value]="direccion.provincia">
                            {{provincia.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Cantón</mat-label>
                    <mat-select disabled [(ngModel)]="direccion.canton" (selectionChange)="getDistritosE($event)">
                        <mat-option *ngFor="let canton of cantones" [value]="direccion.canton">
                            {{canton.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width:400px !important" appearance="fill">
                    <mat-label>Distrito</mat-label>
                    <mat-select disabled [(ngModel)]="direccion.distrito">
                        <mat-option *ngFor="let distrito of distritos" [value]="direccion.distrito">
                            {{distrito.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <agm-map style="height: 200px;" [latitude]="direccion.latitud" [longitude]="direccion.longitud">
                    <agm-marker [latitude]="direccion.latitud" [longitude]="direccion.longitud"></agm-marker>
                </agm-map>


                <mat-form-field style="width:400px !important" appearance="fill">
                    <mat-label>Otras señas</mat-label>
                    <textarea disabled required matInput [(ngModel)]="direccion.sennas"> </textarea>
                </mat-form-field>
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="200px" class="mt-lg">
        <mat-grid-tile colspan="2" rowspan="1">
            <div fxLayout="column" class="bloque">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h2 class="text-center">Productos</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="start none" class="mt-md  ml-lg">
                    <button mat-button class="mat-success" (click)="agendarCita()">
                        Agendar Cita
                    </button>
                </div>
                <div class="mt-lg">
                    <p class="text-center">
                        Si desea ver los productos de manera presencial, por favor agregue los productos deseados a la cita 
                        y agende una fecha para visitar la sucursal.
                    </p>
                </div>
            </div>
            <hr>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="6" rowHeight="250px" class=" mt-lg">
        <mat-grid-tile colspan="2" rowspan="1"  *ngFor="let producto of productos">
            <mat-card class="card mr-md ml-md">
                <mat-card-header>
                    <mat-card-title>{{producto.nombre}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <strong>Precio  </strong><span>{{producto.precio | currency:'₡'}}</span>
                </mat-card-content>
                <mat-card-action>
                    <button mat-button (click)=agregarCarrito(producto)>Agregar a carrito</button>
                    <button mat-button (click)="agregarProductoCita(producto)">Agregar a cita</button>
                </mat-card-action>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="6" rowHeight="250px" class=" mt-lg">
        <mat-grid-tile colspan="6" rowspan="1">
            <h2>Servicios</h2>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" *ngFor="let servicio of servicios">
            <mat-card class="card-servicio card mr-md ml-md">
                <mat-card-header>
                    <mat-card-title>{{servicio.nombre}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <strong>Precio  </strong><span>{{servicio.precio | currency:'₡'}}</span>
                </mat-card-content>
                <mat-card-action>
                    <button mat-button (click)="contratar(servicio)">Contratar</button>
                </mat-card-action>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>