<!DOCTYPE html>
<html lang="es-es">
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Tangerine" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link rel="stylesheet" href="landing-page-app.component.css">

</head>
<body>
  <main>
    <div class="topnav" id="home">
      <a class="home" href="#home">Inicio</a>
      <a href="">Iniciar Sesión</a>
      <a href="">Registrarme</a>
    </div>
    <section id="presentacion">
      <img src="logo.png" id="logo" alt="">
      <p>¿Desea vender o comprar bienes y servicios sin riesgos?</p>
    </section>
    <div id="separacion">
      <h5>¡Vamos a conocer la aplicación a profundidad!</h5>
    </div>
    <section id="segunda">
      <h1>¿Qué es Get It Safely?</h1>
      <p>
        GetIt Safely nace como una herramienta que permite tanto al Gobierno de
        Costa Rica como a los comercios que deseen afiliarse a esta aplicación
        gestionar de una manera más sencilla la atencion a clientes que requieren de bienes y
        servicios durante la epoca de pandemia que experimenta el país a causa
        del SARS Covid 2
      </p>
      <img class="img" src="imgUno.jpg" alt="">
    </section>
    <section id="primera">
      <h1 class="secciones">Nuestro Nombre</h1>
      <p class="secciones">
        La solución Get It Safely se nombra en base a las circunstancias que afronta el estado costarricence ante la pandemia de SARS Covid 2. Es debido a
        esto que la aplicación pretende dar respuesta a las necesidades de productos y servicios de aquellos clientes que lo necesiten sin
        tener que salir de su hogar.
      </p>
      <img class="img" src="imgDos.jpeg" alt="">
    </section>
    <div id="separacion">
      <h4>¿Quiere probar Get It Safely?</h4>
    </div>
    <section id="tres">
      <div class="buttons">
        <button type="button" name="button">Registrarme</button>
        <button type="button" name="button">Iniciar Sesión</button>
      </div>
    </section>
  </main>
  <footer>
    <p> © Copyright 2020. GetIt Safely. Todos los derechos reservados</p>
  </footer>
</body>
</html>
