<h1 mat-dialog-title>{{data.accion | titlecase}} sucursal</h1>
<div mat-dialog-content>
  <mat-form-field style="width:400px !important" appearance="standard">
    <mat-label>ID</mat-label>
    <input disabled="{{data.permitir}}" required matInput [(ngModel)]="data.id" minlength="6">
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="standard">
    <mat-label>Comercio</mat-label>
    <mat-select [(ngModel)]="data.idComercio">
      <mat-option *ngFor="let comercio of data.comercios" [value]="comercio.cedJuridica">{{comercio.nombreComercial}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="standard">
    <mat-label>Nombre</mat-label>
    <input required matInput [(ngModel)]="data.nombre">
  </mat-form-field>
  <br>
  <!-- <mat-form-field style="width:400px !important" appearance="standard">
    <mat-label>Dirección</mat-label>
    <input type="email" required matInput [(ngModel)]="data.idDireccion">
  </mat-form-field>
  <br> -->
  <mat-form-field style="width:400px !important" appearance="standard">
    <mat-label>Disposiciones</mat-label>
    <input minlength="1" required matInput [(ngModel)]="data.disposiciones">
  </mat-form-field>
  <br *ngIf="data.dir">


  <mat-form-field appearance="fill" *ngIf="data.dir">
    <mat-label>Provincia</mat-label>
    <mat-select [(ngModel)]="data.provincia" (selectionChange)="getCantonesE($event)">
      <mat-option *ngFor="let provincia of data.provincias" [value]="provincia.value">
        {{provincia.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="data.dir">
    <mat-label>Cantón</mat-label>
    <mat-select [(ngModel)]="data.canton" (selectionChange)="getDistritosE($event)">
      <mat-option *ngFor="let canton of data.cantones" [value]="canton.value">
        {{canton.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width:400px !important" appearance="fill" *ngIf="data.dir">
    <mat-label>Distrito</mat-label>
    <mat-select [(ngModel)]="data.distrito">
      <mat-option *ngFor="let distrito of data.distritos" [value]="distrito.value">
        {{distrito.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br *ngIf="data.dir">
  <agm-map  style="height: 300px;"  [latitude]="data.latitud" [longitude]="data.longitud" *ngIf="data.dir">
    <agm-marker [latitude]="data.latitud" [longitude]="data.longitud" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>

  <br *ngIf="data.dir">

  <!-- <mat-form-field style="width:400px !important" appearance="fill" *ngIf="data.dir">
    <mat-label>Latitud</mat-label>
    <textarea required matInput [(ngModel)]="data.latitud"> </textarea>
  </mat-form-field>
  <mat-form-field style="width:400px !important" appearance="fill" *ngIf="data.dir">
    <mat-label>Long</mat-label>
    <textarea required matInput [(ngModel)]="data.longitud"> </textarea>
  </mat-form-field> -->

  <mat-form-field style="width:400px !important" appearance="fill" *ngIf="data.dir">
    <mat-label>Otras señas</mat-label>
    <textarea required matInput [(ngModel)]="data.sennas"> </textarea>
  </mat-form-field>

  <br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{data.accion | titlecase}}</button>
</div>
