* {
    box-sizing: border-box;
  }
  
  .titulo-dashboard {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  
  .dashboard-container {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-auto-rows: minmax(170px, auto);
    grid-row-gap: 25px;
    margin: 50px 50px;
  }
  
  .ventas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 35px;
  }
  
    .ventas > div {
      background: #fafafa;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, .5);
      display: grid;
    }
  
  .ventas-titulo {
    font-size: 20px;
    margin: 10px auto;
  }
  
  .ventas-valores {
    font-size: 30px;
    margin: 0 auto;
  }
  
  .fa-line-chart, .moneda {
    font-size: 50px;
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 0;
    color: #7DE2D1;
  }
  
  .moneda {
    font-weight: 500;
  }
  
  .citas {
    background: #fafafa;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, .5);
  }
  
  .citas-titulo {
    font-size: 20px;
    margin: 10px auto;
  }
  
  .citas-realizadas, .citas-canceladas {
    display: inline-flex;
    margin-left: 20%;
  }
  
    .citas-realizadas p {
      font-size: 20px;
      margin-right: 40px;
    }
  
    .citas-canceladas p {
      font-size: 20px;
      margin-right: 30px;
    }
  
  .barra-porcentaje {
    width: 150px;
    height: 25px;
    background-color: #a39e9e;
    padding: 1px;
  }
  
  .valor-porcentaje {
    height: 25px;
    background-color: #339989;
  }
  
  .pagos {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  
    .pagos > div {
      background: #fafafa;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, .5);
      display: grid;
    }
  
  .pagos-titulo {
    font-size: 25px;
    font-weight: 500;
    margin-left: 15px;
  }
  
  .pagos-descripcion {
    font-size: 15px;
    margin: 15px auto;
  }
  
  .pagos p {
    margin-bottom: 0px;
  }
  
  .paypall {
    margin-top: 0px;
    margin-right: 2%;
  }
  
  .paypall2 {
    margin-top: 0px;
    margin-right: 0%;
    margin-bottom: 0px;
  }
  
  .fa-paypal {
    font-size: 50px;
    margin-left: 75%;
    margin-bottom: 0px;
    margin-top: 20px;
    color: #7DE2D1;
  }
  
  .fa-mobile {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 75%;
    margin-bottom: 0px;
    color: #7DE2D1;
  }
  
  .fa-money {
    font-size: 50px;
    margin-left: 75%;
    color: #7DE2D1;
  }
  
  
  .simpemovil {
    margin-top: 0px;
    margin-right: 2%;
  }
  
  .simpemovil2 {
    margin-top: 0px;
    margin-right: 0%;
    margin-bottom: 0px;
  }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width:768px) {
    .ventas-titulo {
      margin: 20px 0 0 20px;
      font-size: 30px;
    }
  
    .ventas-valores {
      font-size: 50px;
      justify-self: end;
      margin: 0 30px 0 0;
    }
  
    .barra-porcentaje {
      width: 1100px;
      height: 25px;
    }
  
    .valor-porcentaje {
      height: 25px;
    }
  
    .porcentaje {
        margin-left: 450px;
    }
  
    .citas-titulo {
      margin: 20px 0 0 20px;
      font-size: 30px;
    }
  
    .pagos {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 35px;
    }
  
    .pagos-titulo {
      font-size: 30px;
      margin: 20px 0 0 20px;
    }
  
    .pagos-descripcion {
      font-size: 20px;
      justify-self: end;
      margin: 0 12px 0 0;
    }
  }
  