<div class="divCont">
	<h2>Cambiar Contraseña</h2>

		<form [formGroup]="firstFormGroup">
		  <ng-template matStepLabel>Datos</ng-template>
		  <mat-form-field>
			<mat-label>Contraseña actual</mat-label>
			<input matInput placeholder="Contraseña actual" formControlName="actual" type="text" required>
		  </mat-form-field>
		  <br>
		  <mat-form-field hintLabel="Min 8 car, 1 maysc, 1 número y 1 car esp.">
			<mat-label>Contraseña nueva</mat-label>
			<input matInput placeholder="Contraseña actual" formControlName="nueva" type="text" required>
		  </mat-form-field>
		  <br>
		  <br>
		  <mat-form-field hintLabel="Min 8 car, 1 maysc, 1 número y 1 car esp.">
			<mat-label>Repita la contraseña nueva</mat-label>
			<input matInput placeholder="Repita la contraseña actual" formControlName="nueva2" type="text" required>
		  </mat-form-field>
		  <br>
		  <br>
		  <br>
		  
		<div>
			<button mat-button (click)="intentarCambiar()" color="editar">Cambiar</button>
		</div>
		</form>
</div>