<h1 mat-dialog-title>Registro de Empleado</h1>
<mat-dialog-content >
<form [formGroup]="FormGroupEmpleado">
    <mat-form-field>
        <mat-label>Cédula del Usuario</mat-label>
        <input matInput type="text" formControlName="Cedula" (keyup)="applyFilter($event)" required />
    </mat-form-field>     
</form>
<mat-table class="overflow-md" [dataSource]="usuarios" *ngIf="mostrarUsuarios" >
    <ng-container matColumnDef="cedula" >
        <mat-header-cell *matHeaderCellDef>Cédula</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell> 
    </ng-container>  
    <ng-container matColumnDef="correoElectronico" >
        <mat-header-cell *matHeaderCellDef>Correo Eléctronico</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.correoElectronico}}</mat-cell> 
    </ng-container>
    <ng-container matColumnDef="telefono" >
        <mat-header-cell *matHeaderCellDef>Telefono</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.numeroTelefono}}</mat-cell> 
    </ng-container>      
    <mat-header-row  *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
</mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close class="example-button-row" >Cancel</button>
  <button 
    mat-flat-button 
    [mat-dialog-close]="true" 
    (click)="verificarUsuario()" 
    class="example-button-row" 
    cdkFocusInitial
    >
     Registrar Empleado
    </button>
</mat-dialog-actions>


<!-- Prueba de implementacion de Tabs -->

<!-- <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Registro del Empleado">
        <div class="mt-lg mb-lg">
            <h2>Ingrese el Número de Cédula del Usuario</h2>
        </div>        
        <form [formGroup]="FormGroupEmpleado" >
            <mat-form-field>
                <mat-label>Cédula del Usuario</mat-label>
                <input matInput type="text" formControlName="Cedula" required />
            </mat-form-field>   
            <button mat-flat-button (click)="verificarUsuario()" class="example-button-row" >
                Registrar Empleado
            </button>  
        </form>        
    </mat-tab>
    <mat-tab label="Registro de horario">
        
    </mat-tab>
    <mat-tab label="Registro de Rol">
        
    </mat-tab>
</mat-tab-group> -->
