:host{
	display: block;
	height: calc(100vh - 5rem);
  }

.card {
	max-width: 400px;
	display: inline-block;
	margin: 2%;
  }

  mat-icon{
	font-size: 35px;
  }

  .center {
	  text-align: center;
  }

  .mat-form-field {
	font-size: 14px;
	width: 100%;
  }

.calificar {
  background-color: #D2691E;
  color : #000000;
}

.divHistorial {
	padding: 2% 10%;
}

.datos {
	text-align: left;
}

.pendiente {
	background-color: #f4b400;
}

.pendiente:hover {
	background-color: #f7cb4d !important;
}

.calificar {
  background-color: #D2691E;
}
