<div class="div">
    <h2>Citas</h2>
<mat-form-field style="width:100%">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar...">
</mat-form-field>
<div class="mat-elevation-8">
    <table mat-table matSort [dataSource]="citas">
        <ng-container matColumnDef="sucursal">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.idSucursal}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.horaInicio}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
            <mat-cell *matCellDef="let element">Pendiente</mat-cell>
        </ng-container>
        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.tipo === 'P' ? 'Producto': 'Servicio'}}</mat-cell>
        </ng-container>      
        <ng-container matColumnDef="scanner">
            <mat-header-cell *matHeaderCellDef>Scanner</mat-header-cell>
            <mat-cell  *matCellDef="let element">
                <!-- [disabled]="element.horaFinal > hoy" -->
                <button mat-raised-button color="ver" (click)="scanner(element)" >
                    Verificar
                </button>
            </mat-cell>
        </ng-container>   
        <ng-container matColumnDef="finalizar">
            <mat-header-cell *matHeaderCellDef>Finalizar</mat-header-cell>
            <mat-cell  *matCellDef="let element">
                <!-- [disabled]="element.horaFinal > hoy" -->
                <button mat-raised-button color="eliminar" (click)="finalizar(element)" >
                    Finalizar
                </button>
            </mat-cell>
        </ng-container>  
        <mat-header-row  *matHeaderRowDef="columnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
    </table>
    <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>  

</div>
</div>