<mat-dialog-content>
    <h2>Cita</h2>
    <form [formGroup]="formGroupDatos" class="mt-lg" >
        <mat-form-field class="mat-form">
            <mat-label>Fecha</mat-label>
            <input matInput type="date" formControlName="Fecha" >
        </mat-form-field>
        <mat-form-field class="mat-form">
            <mat-label>Tipo</mat-label>
            <input matInput type="text" formControlName="Tipo" readonly>
        </mat-form-field>
    </form>
    <h6>Productos de la Cita</h6>
    <mat-table  class=" table overflow-md" [dataSource]="productos" >        
        <ng-container matColumnDef="nombre" >
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell> 
        </ng-container>  
        <ng-container matColumnDef="cantidad" >
            <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cantidad}}</mat-cell> 
        </ng-container>     
        <mat-header-row  *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>      
    </mat-table>
    <button>
        Cancelar
    </button>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close class="example-button-row">Cerrar</button>
</mat-dialog-actions>