<div class="mat-elevation-8">
    <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar..." >
    </mat-form-field>
      
    <mat-table  [dataSource]="empleados" class="table-lg">
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="apellidoUno">
            <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.apellidoUno}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="numeroTelefono">
            <mat-header-cell *matHeaderCellDef>Telefono</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.numeroTelefono}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="correoElectronico">
            <mat-header-cell *matHeaderCellDef>Correo Eléctronico</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.correoElectronico}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="horario">
            <mat-header-cell *matHeaderCellDef>Horario</mat-header-cell>
            <mat-cell  *matCellDef="let element">
                <button mat-icon-button  (click)="verHorario(element)" class="btn-xeon">
                    Ver Horario
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="perfil">
            <mat-header-cell *matHeaderCellDef>Perfil</mat-header-cell>
            <mat-cell  *matCellDef="let element">
                <button mat-icon-button  (click)="verPerfil(element)" class="btn-xeon">
                    Ver Perfil
                </button>
            </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
            <mat-cell  *matCellDef="let element">
                <button mat-icon-button  (click)="editar()">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
            <mat-cell  *matCellDef="let element">
                <button mat-icon-button  (click)="eliminar(element)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        
        <mat-header-row class="toolbar" *matHeaderRowDef="nombresColumnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: nombresColumnas;"></mat-row>
    </mat-table>
    <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>    
</div>
